.speech{
    color:black;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    text-decoration: solid;
    }
.song{
    color:black;
    font-family:'Courier New', Courier, monospace;
    font-size:15px;
    text-decoration: solid;
        }
.directions{
    color:rgb(250, 2, 2);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    background-color:chartreuse;
    }
.GIRLS{
        color:rgb(196, 4, 225);
        font-size: 15px;
    }
.MABEL{
        color:rgb(127, 173, 12);
        font-size: 15px;
    }
.GENERAL{
        color: maroon;
        font-size:15px;
    }
.GENERAL:hover {
    color: black;
    background-color:aqua;
    text-shadow: 5px 5px 3px red;
    display: inline;
    }
.FREDERIC{
        color:rgb(0, 59, 186);
        font-size: 15px;
    }
.chorus{
        color:cornflowerblue;
        font-size: 15px;
    }
.directions:hover {
        background-color:rgb(55, 55, 58);
        color:rgb(254, 254, 254);
    }
.act{
    color :rgb(55, 55, 58);
}
.scene{
    color:darkslateblue;
}







table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  
  tr:nth-child(even) {
    background-color: rgba(150, 212, 212, 0.434);
  }
  
  th:nth-child(even),td:nth-child(even) {
    background-color: rgba(89, 152, 152, 0.4);
  }